%div.wrapper

  = render 'shared/side_bar'

  %div.chat-main
    %div.main-header
      %div.main-header__left-box
        %p.main-header__left-box__group-name
          = @group.name
        %p.main-header__left-box__group-members
          Member：
          - @group.users.each do |user|
            = user.name
      %div.main-header__edit-btn
        = link_to edit_group_path(@group) do
          %p EDIT

    %div.messages
      = render @messages
      -# 省略前
      -# = render partial: 'message', collection: @messages

    %div.form-wrapper
      %div.form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'