

%div.chat_side
  %div.side-header
    %div.side-header__box
      %div.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
  %div.groups
    - current_user.groups.each do |group|
      %div.group
        = link_to group_messages_path(group) do
          %div.group__name
            = group.name
          %div.group__message
            = group.show_last_message